<h1>Currency Converter</h1>

<form action="/convert">

    <label for="from_currency">Convert from</label>
    <select name="from_currency" id="from_currency">
        <option value="USD">US Dollar</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
    </select>
    <br>

    <label for="money">Amount of money</label>
    <input type="number" step="any" name="money" id="money" required/>
    <br>

    <label for="to_currency">Convert to</label>
    <select name="to_currency" id="to_currency">
        <option value="USD">US Dollar</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
    </select>

    <br>

    <button type="submit">Convert</button>

</form>